* {
    margin: 0; padding: 0;
}

#ctn {
    position: relative;
}

.sl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#sl_1 {
    left: -100vw;
    background-image: url('images/het.png');
    z-index: 1;
    transition: left 2s;
}

#sl_2 {
    top: -100vh;
    background-image: url('images/clo.jpg');
    z-index: 2;
    transition: top 1s;
}

#sl_3 {
    opacity:0;
    background-color: rgb(255, 198, 129);
    z-index: 3;
    transition: opacity 1s;
}

.nd {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    height: fit-content;
    text-align: center;
    background-color: rgba(124, 124, 124, 0.315) ;
    border-radius: 10px;
}