* {
    margin: 0; padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
}

.gift {
    margin-top: 10vh;
    min-width: 200px;
    width: 20vw;
    min-height: 200px;
    height: 20vw;
    border: 2px solid red;
    margin-left: 1vw;
    margin-right: 1vw;
}

.gift_img {
    cursor: pointer;
    opacity: 0.8;
    min-width: 200px;
    width: 20vw;
    min-height: 200px;
    height: 20vw;
    transition: opacity 0.4s, width 0.4s, height 0.4s,min-width 0.4s, min-height 0.4s;
}
.gift_img:hover {
    opacity: 1;
    min-width: 220px;
    width: 22vw;
    min-height: 220px;
    height: 22vw;
    transition: opacity 0.4s, width 0.4s, height 0.4s,min-width 0.4s, min-height 0.4s;
}

#tit_g {
    width: 70vh;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    font-size: 5vh;
    margin-top: 5vh;
    font-family: sans-serif;
    font-weight: 900;
}

#gift_i1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gm1 {
    display: block;
    z-index: 2;
    width: min(40%,600px);
    min-width: 300px;
    left: 30%;
}

#n1 {
    font-size: 30px;
}


